:root{
    --green:#628395;
    --dark-pink:#FFA0A0;
    --light-pink:#FFE3E3;
    --dark:#262A53;
}

body{
    background-color:var(--dark);
    margin:0%;
}
header {
    background-color:var(--green);
    width: 100%;
    padding: 5px;
    margin:0px;
    
}


#container {
    /* margin left  */
    margin-left:20%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
  
   
}

.row {
    display: flex;
    flex-direction: row;
}

.nav {
    /* border:var(--dark-pink) solid 2px; */
    padding: 0px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: var(--green);
    display:flex;
    justify-content:flex-end;
    width:100%
}

.nav-button { 
   
    background-color: var(--light-pink);
    color: var(--green);
    font-size: 15px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 10px;
    text-align: center;
    display: inline-block;
    margin: 10px 20px;
    cursor: pointer;
    border-radius: 16px;
 
 
}

#intro-image {
width: 100%;
max-height: 200px;
border-bottom: solid 2px #628395;
}


figcaption {
    background-color: var(--green);
    color: var(--dark);
    width:120px;
    padding: 2px 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align:left;
    font-weight: bolder;
    margin-top: -2.9em;
    z-index: 1;
    position: relative;
}

 #thumbnail-description {
    font-size: small;
    font-weight: 200;
    font-style: italic;
} 

h1 {
    font-family:'Gill Sans', 'Gzzill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: whitesmoke
}
#C {
    color:var(--dark-pink);
    font-size: 150%;
}
h2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: var(--light-pink);
    font-weight: lighter;
    text-align: center;
}
#work {
    padding-top: 10%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: var(--light-pink);
    font-weight:200;
    text-align: left;
    max-width: 60%;
    font-size: larger;
}



.work-images {
    float:left;
}

aside {
    float:right;
    margin-top: 20px;
    margin-right: 10%;
    padding: 20px;
    width: 15%;
    height: 100%;
    background-color: var(--light-green);  
    border:var(--green) solid 2px;

    }

#bio{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:var(--dark-pink);
}
aside img {
    width: 100px;
    height: auto;
    border:solid var(--green) 2px;
    margin-left: 44%;
    
    }

#contact {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:var(--green);
    text-align: center;
    

}

.box {
    margin: 10px;
}


#first-thumbnail {
    width :645px;
    height: auto;
    border:solid 2px var(--green);
    transition: transform 0.255 ease;
  
}

#first-thumbnail:hover {
    -webkit-transform:scale(1.5);
}

.thumbnail {
    width: 200px;
    height: auto;
    border:solid 2px var(--green);
    transition: transform 0.255 ease;
}

.thumbnail:hover {
    -webkit-transform:scale(1.5);
}
/* .project-title {
    color:var(--dark-pink);
    font-size: 20px;
    font-weight: lighter;
} */

.project-description {
    color: var(--green);
    font-size: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: oblique;
    font-weight: 200;
    text-align: center;
    
    

}

#page-container {
    position: relative;
    min-height: 100vh;
    overflow: hidden;
}

#content-wrap {
    padding-bottom: 2.5rem;
}

#footer {
    color: var(--light-pink);
    background-color: var(--green);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-bottom: 1px;
}

#footer p {
    padding:20px;
    text-align:center;
}

@media screen and (max-width: 1440px) {
  
    aside {
        display:flex;
        flex-direction: column;
        width: 80%;
        margin-right: 0%;
    }


@media screen and (max-width: 1160px) {
  
    aside {
        display:flex;
        flex-direction: column;
        width: 80%;
        margin-right: 0%;
    }
    main {
        display: flex;
        flex-direction: column;
        align-items: center;
        }
  
  .row {
    display: flex;
    flex-direction: column;

    .thumbnail {
    width: 300px;
        
      }
    
   
}
@media screen and (max-width: 1000px) {

    #first-thumbnail {
      width: 300px;
      
    }
}
@media screen and (max-width: 1000px) {
    #first-thumbnail {
      width: 300px;
      
    }
    
        
@media screen and (max-width: 825px) {
    /* .thumbnail {
      width: 300px;
      
    } */

    /* .row {
        display: flex;
        flex-direction: column;
        
       
    } */
    aside {
        display:flex;
        flex-direction: column;
    }
    
   
  }
 
  @media screen and (max-width: 410px) {
    .nav-buttons {
      margin: 10px 5px;
      
    }