:root{
    --green:#628395;
    --dark-pink:#FFA0A0;
    --light-pink:#FFE3E3;
    --dark:#262A53;
}

body{
    background-color:var(--dark);
    margin:0%;
}

#container {
    margin-left:20%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;  
}

.row {
    display: flex;
    flex-direction: row;
}

.nav {
    padding: 0px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: var(--green);
    display:flex;
    justify-content:flex-end;
    width:100%
}

.nav-button {  
    background-color:#739eb4;
    color: whitesmoke);
    font-size: 15px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 1%;
    text-align: center;
    display: inline-block;
    margin:.1% 2%;
    cursor: pointer;
    border-radius: 16px;
}

#intro-image {
width: 100%;
max-height: 200px;
border-bottom: solid 1px #628395;
}

#large-image {
    margin-top: -3.7em;
    margin-left: 2.5em;
}

figcaption {
    background-color: var(--green);
    color: var(--dark);
    width:120px;
    padding: 2px 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align:left;
    font-weight: bolder;
    margin-top: -2.9em;
    z-index: 1;
    position: relative;
}

 #thumbnail-description {
    font-size: small;
    font-weight: 200;
    font-style: italic;
} 

h1 {
    font-family:'Gill Sans', 'Gzzill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: whitesmoke;
    margin-left:1%;
}

#c {
    color:var(--dark-pink);
    font-size: 150%;
}

#k {
    color: var(--dark-pink);
}
h2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: var(--light-pink);
    font-weight: lighter;
    text-align: center;
}

.work-images {
    float:left;
}

aside {
    float:right;
    margin-top: 20px;
    margin-right: 10%;
    padding: 20px;
    width: 15%;
    height: 100%;
    background-color: var(--light-green);  
    border:var(--green) solid 2px;
    text-align:left;
    }

#bio{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:var(--dark-pink);
}
aside img {
    display: block;
    width: 100px;
    height: auto;
    border: solid var(--green) 2px;
    margin:0 auto;
    }

#contact {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:var(--green);
    text-align: center;
}
#linktin {
    border:none;
    max-width: 20%;
}

.box {
    margin: 10px;
}

#first-thumbnail {
    width :645px;
    height: auto;
    border:solid 2px var(--green);
    display: block;
    transition: transform 0.255 ease;
}

#first-thumbnail:hover {
    -webkit-transform:scale(1.5);
}

.thumbnail {
    width: 200px;
    height: auto;
    border:solid 2px var(--green);
    transition: transform 0.255 ease;
}

.thumbnail:hover {
    -webkit-transform:scale(1.5);
}

.project-description {
    color: var(--green);
    font-size: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: oblique;
    font-weight: 200;
    text-align: center;
}

#page-container {
    position: relative;
    min-height: 100vh;
    overflow: hidden;
}

#content-wrap {
    padding-bottom: 2.5rem;
}

#footer {
    color: var(--light-pink);
    background-color: var(--green);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-bottom: 1px;
}

#footer p {
    padding:20px;
    text-align:center;
}

@media screen and (max-width: 1440px) {
  
    aside {
        display:flex;
        flex-direction: column;
        width: 80%;
        margin-right: 0%;
    }
} 

@media screen and (max-width: 1160px) {
  
    aside {
        display:flex;
        flex-direction: column;
        width: 80%;
        margin-right: 0%;
    }
    #bio {
        font-size: smaller;
    }
    main {
        display: flex;
        flex-direction: column;
        align-items: center;
        }
  
  .row {
    display: flex;
    flex-direction: column;

    .thumbnail {
    width: 300px;  
      }  
}

@media screen and (max-width: 1000px) {

    #first-thumbnail {
      width: 300px;  
    }
}

@media screen and (max-width: 768px) {
    #first-thumbnail {
      width: 200px;  
    }
    
        
@media screen and (max-width: 480) {
    aside {
        display:flex;
        flex-direction: column;
    }
    
   
  }
 
  @media screen and (max-width: 480px) {
    .nav {
        display: flex;
        justify-content: center;
    }
    #first-thumbnail {
        width: 200px;
    }
}