:root{
    --green:#628395;
    --dark-pink:#FFA0A0;
    --light-pink:#FFE3E3;
    --dark:#262A53;
}

body{
    background-color:var(--dark);
    margin:0%;
}
header {
    background-color:var(--green);
    width: 100%;
    padding: 5px;
    margin:0px;
    
}


.container {
    /* margin left  */
    margin-left:20%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
  
   
}

.row {
    display: flex;
    flex-direction: row;
}

.nav {
    /* border:var(--dark-pink) solid 2px; */
    padding: 0px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: var(--green);
    display:flex;
    justify-content:flex-end;
    width:100%
}

.nav-button { 
   
    background-color: var(--light-pink);
    color: var(--green);
    font-size: 15px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 10px 20px;
    text-align: center;
    display: inline-block;
    margin: 10px 20px;
    cursor: pointer;
    border-radius: 16px;
 
 
}

#intro-image {
width: 100%;
max-height: 200px;
border-bottom: solid 2px #628395;

}

h1 {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: whitesmoke
}
#C {
    color:var(--dark-pink);
    font-size: 150%;
}
h2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: var(--light-pink);
    font-weight: lighter;
}


.work-images {
    float:left;
}

aside {
    float:right;
    margin-top: 20px;
    margin-right: 10%;
    padding: 20px;
    width: 15%;
    height: 100%;
    background-color: var(--light-green);  
    border:var(--dark-pink) solid 2px
    }

aside p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:var(--green)
}
aside img {
    width: 100px;
    height: auto;
    border:solid var(--green) 2px
    
    }
    
.box {
    margin: 10px;
}

.thumbnail {
    width: 200px;
    height: auto;
    border:solid 2px var(--green)
}

.project-title {
    color:var(--dark-pink);
    font-size: 20px;
    font-weight: lighter;
}

.project-description {
    color: var(--green);
    font-size: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: oblique;
    font-weight: bolder;

}

#page-container {
    position: relative;
    min-height: 100vh;
    overflow: hidden;
}

#content-wrap {
    padding-bottom: 2.5rem;
}

#footer {
    color: var(--light-pink);
    background-color: var(--green);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-bottom: 1px;
}

#footer p {
    padding:20px;
    text-align:center;
}
@media screen and (max-width: 1140px) {
  
    .aside {
        display:flex;
        flex-direction: column;
    }
  }

@media screen and (max-width: 825px) {
    .thumnail {
      width: 300px;
    }

    .row {
        display: flex;
        flex-direction: column;
    }
    .aside {
        display:flex;
        flex-direction: column;
    }
  }
 